#newGame {
  width:100px;
}

body {
  background:grey;
}

button {
  border-radius:5px;
  background-color:darkorange;
  border:none;
  height:25px;
  width:25px;
  margin-right:5px;
  margin-bottom:5px;
  cursor:pointer;
}

button:active {
  background-color:white;
}

button[disabled] {
  background-color:darkgrey;
}

td {
  width: 30px;
  height: 30px;
  border-bottom:1px solid black;
  padding:0px;
  text-align: center;
}